* {
  box-sizing: border-box;
}

h1 {
  color: purple;
  margin-bottom: 0;
  margin-top: 0.25rem;
}
label {
  color: gray;
}
input {
  margin: 0.5rem auto;
  width: 280px;
  padding: 0.25rem;
  margin-bottom: 0.25rem;
}
p {
  margin-top: 0.25rem;
}
fieldset {
  border: 3px purple solid;
  width: 350px;
}
button {
  background: purple;
  color: white;
  font-size: 16px;
  font-weight: 500;
  padding: 0.5rem;
  margin-top: 0;
  margin-bottom: 1rem;
}
